.font-regular {
    font-family: nimbus-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-bold {
    font-family: nimbus-sans,sans-serif;
    font-weight: 700;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(50,50,50);
    color: white;
}

navbar {
    display: block;
    position: fixed;
    height: 100px;
    z-index: 99;
    width: 100%;
    background-image: radial-gradient(ellipse at center bottom, rgb(15%,15%,15%) 0%, rgb(3%,3%,3%) 100%);
}

navbar-row {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

navbar-item {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    transition: background-color 0.2s;
    user-select: none;
}

navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

navbar-bookend {
    flex-grow: 1;
    flex-shrink: 1;
}

navbar-divider {
    border-left: 1px solid;
    width: 1px;
    height: 65%;
    margin-left: 20px;
    margin-right: 20px;
}

navbar-space {
    flex-grow: 2;
    flex-shrink: 2;
}

videobar {
    position: fixed;
    top: 100px;
    display: block;
    width: 100%;
    background-color: black;
    z-index: 99;
}

.videobarheight {
    height: 480px;
}

videobar video {
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.35;
}

videobarcontentbox {
    width: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    background: transparent;
}

videobar-title {
    display: block;
    margin-bottom: 0.2em;
    font-size: xxx-large;
}

videobar-subtitle {
    display: block;
    font-size: x-large;
}

.centered {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body-container {
    position: relative;
    display: block;
    top: 580px;
}

body-content {
    display: block;
    width: 100%;
    height: 100%;
}

body-content-section {
    display: block;
    width: 100%;
    height: 500px;
    padding: 20px;
}

.content-gradient-black-left {
    background-image: linear-gradient(to left, rgb(3%,3%,3%) 0%, rgb(20%,20%,20%) 100%);
}

.content-gradient-black-right {
    background-image: linear-gradient(to right, rgb(3%,3%,3%) 0%, rgb(20%,20%,20%) 100%);
}

.content-gradient-blue-left {
    background-image: linear-gradient(to left, hsl(239, 50%, 5%) 0%, hsl(239, 50%, 20%) 100%);
}

.content-gradient-blue-right {
    background-image: linear-gradient(to right, hsl(239, 50%, 5%) 0%, hsl(239, 50%, 20%) 100%);
}