.font-regular {
    font-family: nimbus-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-bold {
    font-family: nimbus-sans,sans-serif;
    font-weight: 700;
    font-style: normal;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(3%,3%,3%);
    color: white;
    font-size: 12px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

navbar {
    display: block;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 98;
    background-image: radial-gradient(ellipse at center bottom, rgb(15%,15%,15%) 0%, rgb(3%,3%,3%) 100%);
    --min-height: 50;
    --max-height: 100;
}

navbar-row {
    height: 100%;
    width: 100%;
    padding: 0 20px;
    display: block;
    position: relative;
    z-index: 98;
}

navbar-item {
    display: none;
    float: left;
    text-align: left;
    padding: 0 16px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.0);
    transition: background-color 0.15s;
    user-select: none;
}

@media (hover: hover) {
    .navbar-button:hover {
        background-color: hsla(0, 0%, 25%, 0.66);
        cursor: pointer;
    }
}

.navbar-title {
    display: block;
    text-align: right;
}

.navbar-item-persistent {
    display: block;
}

.navbar-item-float-opposite {
    float: right;
}

.navbar-dropdown-button {
    display: block;
    position: relative;
    padding-right: 8px;
}

.navbar-item-current {
    background-color: hsla(0, 0%, 25%, 0.66);
}

navbar-dropdown {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    display: block;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgb(15%,15%,15%);
    z-index: 99;
}

.navbar-dropdown-item {
    display: block;
    float: none;
    height: 6em;
    white-space: nowrap;
}

navbar-dynamicbreak::before {
    content: "\A";
    white-space: pre;
}

videobar-dynamicbreak::before {
    content: "\A";
    white-space: pre;
}

navbar-bookend {
    display: none;
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar-divider-container {
    padding: 0 15px;
}

navbar-divider {
    display: block;
    position: relative;
    width: 2px;
    border-left: 1px solid;
    height: 65%;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

navbar-space {
    flex-grow: 2;
    flex-shrink: 2;
}

videobar {
    position: fixed;
    top: 100px;
    display: block;
    width: 100%;
    background-color: black;
    z-index: 97;
    --min-height: 64;
    --max-height: 240;
}

.videobar-height {
    height: 240px;
}

videobar video {
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0.4;
}

videobar-contentbox {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    padding: 0 5%;
}

videobar-title {
    display: block;
    margin-bottom: 0.2em;
    font-size: 24px;
    --min-font-size: 12;
    --max-font-size: 24;
}

videobar-subtitle {
    display: block;
    font-size: 14px;
    --min-font-size: 8;
    --max-font-size: 14;
}

centered-text-container {
    display: block;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body-container {
    position: relative;
    display: block;
    top: 340px; /* (navbar.max + videobar.max) */
}

body-content {
    display: block;
    width: 100%;
    height: 100%;
}

body-content-block {
    display: block;
    position: relative;
    width: 100%;
    height: 350px;
    color: hsl(0, 0%, 100%);
}

.content-gradient-black-left {
    background-image: linear-gradient(to left, hsla(0, 0%, 10%, 0%) 0%, hsla(0, 0%, 10%, 100%) 50%);
}

.content-gradient-black-right {
    background-image: linear-gradient(to right, hsla(0, 0%, 10%, 0%) 0%, hsla(0, 0%, 10%, 100%) 50%);
}

.content-gradient-grey-left {
    background-image: linear-gradient(to left, hsla(0, 0%, 24%, 0%) 0%, hsla(0, 0%, 24%, 100%) 70%);
}

.content-gradient-grey-right {
    background-image: linear-gradient(to right, hsla(0, 0%, 24%, 0%) 0%, hsla(0, 0%, 24%, 100%) 70%);
}

.content-gradient-blue-left {
    background-image: linear-gradient(to left, hsla(239, 30%, 20%, 0%) 0%, hsla(239, 30%, 20%, 100%) 50%);
}

.content-gradient-blue-right {
    background-image: linear-gradient(to right, hsla(239, 30%, 20%, 0%) 0%, hsla(239, 30%, 20%, 100%) 50%);
}

.content-gradient-green-left {
    background-image: linear-gradient(to left, hsla(125, 20%, 20%, 0%) 0%, hsla(125, 20%, 20%, 100%) 50%);
}

.content-gradient-green-right {
    background-image: linear-gradient(to right, hsla(125, 30%, 20%, 0%) 0%, hsla(125, 30%, 20%, 100%) 50%);
}

.content-gradient-white-left {
    background-image: linear-gradient(to left, hsla(0, 0%, 80%, 0%) 10%, hsla(0, 0%, 80%, 100%) 75%);
}

.content-gradient-white-right {
    background-image: linear-gradient(to right, hsla(0, 0%, 80%, 0%) 0%, hsla(0, 0%, 80%, 100%) 50%);
}

.content-gradient-white-right-mobileonly {
    background-image: linear-gradient(to right, hsla(0, 0%, 80%, 0%) 0%, hsla(0, 0%, 80%, 50%) 50%);
}

body-content-image {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-position: 50% 50%;
}

body-content-text-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 2;
}

.body-content-text-container-left {
    padding-left: 5%;
    padding-right: 25%;
    text-align: left;
}

.body-content-text-container-right {
    padding-left: 25%;
    padding-right: 5%;
    text-align: right;
}

body-content-text-title {
    font-size: 32px;
    margin-bottom: 0.5em;
}

body-content-text-paragraph {
    font-size: 14px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.body-content-font-invert {
    color:hsl(0, 0%, 10%);
}

body-content-button-group {
    display: block;
    margin-top: 1em;
    white-space: nowrap;
}

.body-content-button-group-right {
    margin-left: auto;
}

.body-content-button-group-left {
    margin-right: auto;
}

body-content-button {
    display: block;
    border: 1px solid white;
    border-radius: 100em;
    margin-top: 1.1em;
    padding: 1em;
    padding-left: 1.6em;
    user-select: none;
}

.body-content-button-invert {
    border-color: hsl(0, 0%, 10%);
}

body-content-button:hover {
    background-color: hsla(0, 0%, 50%, 25%);
    transition: background-color 0.15s;
    cursor: pointer;
}

footer {
    display: block;
    height: 100px;
    width: 100%;
    padding: 0 30px;
    background-color: hsl(0, 0%, 10%);
}

footer-company-info-container {
    position: absolute;
    height: 28px;
    top: 50%;
    right: 0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 30px;
    text-align: center;
}

footer-company-logo {
    display: block;
    position: relative;
    float: right;
    top: 50%;
    height: 28px;
    width: 28px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/logos/CDL-Icon-28px.png');
}

footer-company-text {
    display: block;
    position: relative;
    float: right;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 8px;
    text-align: right;
}

.footer-company-email-link {
    color: hsl(0, 0%, 66%)
}

.footer-social-link {
    display: block;
    position: relative;
    float: left;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 21px;
    width: 21px;
    margin: 0 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.social-link-github {
    background-image: url('/images/social/GitHub-Mark-Light-32px.png');
    margin-left: 0;
}

.social-link-linkedin {
    background-image: url('/images/social/In-White-34@2x.png');
}

/* Default values above are for small mobile screens */
/* Lowest-supported screen width: 320px */

/* Large mobile screens */
@media only screen and (min-width: 481px) {
    body {
        font-size: 12px;
    }
}

/* Small PC screens */
@media only screen and (min-width: 820px) {
    navbar {
        --min-height: 50;
        --max-height: 100;
    }

    navbar-item {
        display: block;
    }

    navbar-bookend {
        display: block;
    }

    .navbar-dropdown-button {
        display: none;
    }

    .content-gradient-white-right-mobileonly {
        background-image: unset;
    }
}

/* Medium PC screens */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 14px;
    }

    navbar-item {
        padding: 0 24px;
    }

    .navbar-divider-container {
        padding: 0 20px;
    }

    videobar {
        --min-height: 72;
        --max-height: 360;
    }

    .videobar-height {
        height: 360px;
    }

    videobar-title {
        font-size: 36px;
        --min-font-size: 16;
        --max-font-size: 36;
    }

    videobar-subtitle {
        font-size: 18px;
        --min-font-size: 12;
        --max-font-size: 18;
    }

    body-container {
        top: 460px;
    }

    body-content-text-title {
        font-size: 36px;
    }

    body-content-text-paragraph {
        font-size: 16px;
    }

    body-content-block {
        height: 400px;
    }

    footer-company-info-container {
        height: 34px;
    }

    footer-company-logo {
        height: 34px;
        width: 34px;
        background-image: url('/images/logos/CDL-Icon-34px.png');
    }
}

/* Large PC screens */
@media only screen and (min-width: 1401px) {
    body {
        font-size: 16px;
    }

    navbar {
        height: 120px;
        --min-height: 75;
        --max-height: 120;
    }

    navbar-item {
        padding: 0 30px;
    }

    videobar {
        top: 120px;
        --min-height: 100;
        --max-height: 480;
    }

    .videobar-height {
        height: 480px;
    }

    videobar-contentbox {
        height: 480px;
    }

    videobar-title {
        font-size: 56px;
        --min-font-size: 24;
        --max-font-size: 56;
    }

    videobar-subtitle {
        font-size: 24px;
        --min-font-size: 16;
        --max-font-size: 24;
    }

    videobar-dynamicbreak::before {
        content: " ";
        white-space: unset;
    }

    body-container {
        top: 600px;
    }

    body-content-text-title {
        font-size: 48px;
    }

    body-content-text-paragraph {
        font-size: 24px;
    }

    body-content-block {
        height: 500px;
    }

    .footer-social-link {
        height: 24px;
        width: 24px;
        margin: 0 12px;
    }

    footer-company-info-container {
        height: 38px;
    }

    footer-company-logo {
        height: 38px;
        width: 38px;
        background-image: url('/images/logos/CDL-Icon-38px.png');
    }
}